* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'reg-bion';
    background: #4052FF;
}

@font-face {
    font-family: 'bold-bion';
    src: url('../fonts/bion.bold.ttf');
}

@font-face {
    font-family: 'reg-bion';
    src: url('../fonts/bion.book.ttf');
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container {
    max-width: 1400px;
    width: 100%;
}

.header-border{
    padding: 16px;
    border: 1px solid #ffffff;
    border-radius: 1000px;
    margin-top: 15px;
    /* background: #f9f9ff;
    opacity: 0.7;
    filter: alpha(Opacity=70); */
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    gap: 40px;
}

.header-menu a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    transition: 0.3s;
    font-family: "reg-bion";
}

.header-reg a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #ffffff;
    border-radius: 1000px;
    transition: 0.3s;
}

.header-menu a:hover {
    transition: 0.2s;
    color: #ffffff;
}

.header-reg a:hover {
    background: #c96929;
    transition: 0.2s;
    color: #ffffff;
}




.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-container {
    max-width: 1400px;
    width: 100%;
}

.main-start-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}


.main-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-block-block {
    display: flex;
    flex-direction: column;
    max-width: 680px;
    padding: 20px;
    border: px solid #5363FF;
    color: #FFFFFF;
    border-radius: 20px;
    margin-top: 50px;
}


.index-color-text {
    background: none;
    font-weight: bold;
}


/* Картинки */

.main-user-command {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-user-block {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

tbody {
    display:flex;
}

thead tr {
    display: flex;
    flex-direction: column;
}

.main-command-name {
    display: flex;
    margin-top: 50px;
    margin-bottom: 32px;
}

.main-command-name-txt div{
    color: #ffffff;
    font-family: "bold-bion";
    font-size: 60px;
    font-weight: bolder;
}

.main-line {
    border: 2px solid #ffffff; 
    background: #ffffff;
    height: 2px; 
    max-width: 1100px;
    width: 1100px;
    margin-top: 40px;
}

.main-start-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #EEF0FA;
    font-size: 18px;
    padding: 18px;
    background: #191C1F;
    border-radius: 20px;
    transition: s;
    margin-top: 50px;
}

.main-start-btn a:hover {
    background: #c96929;
    transition: 0.4s;
    color: #ffffff;
}

.main-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
}

.main-error h1{
    font-weight: bolder;
    font-family: "reg-bion";
}

.main-pass {
    height: 100px;
    background: none;
}







/* Проба аватара */
/* LOKI */
.main-user-command-block-loki {
    display: flex; 
    flex-direction: column;
    width: 450px;
    height: 275px;
    background: url("../img/user-ava/loki.png");
    border-radius: 20px;
    background-size: cover;
    padding: 30px;
    transition: 0.5s;
    margin-bottom: 10px;
}

.main-user-command-block-loki:hover {
    transform: scale(1.03);
    transition: 0.4s;
    border: 2px solid #EEF0FA;
}

.main-user-command-block-loki h1 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background: none;
    display: flex;
}

.main-user-command-block-loki p {
    display: flex;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background: none;
}

.main-user-command-block-loki a{
    text-decoration: none;
    background: none;
    color: #EEF0FA;
    font-weight: bold;
    font-size: 18px;
    transition: 0.4s;
}

.main-user-command-block-loki a:hover {
    transition: 0.3s;
    color: #e8792f;
}



/* DOKA */
.main-user-command-block-doka {
    display: flex; 
    flex-direction: column;
    width: 450px;
    height: 275px;
    background: url("../img/user-ava/doka.png");
    border-radius: 20px;
    background-size: cover;
    padding: 30px;
    transition: 0.5s;
}

.main-user-command-block-doka:hover {
    transform: scale(1.03);
    transition: 0.4s;
    border: 2px solid #EEF0FA;
}

.main-user-command-block-doka h1 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background: none;
    margin: 0;
}

.main-user-command-block-doka p {
    display: flex;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background: none;
}

.main-user-command-block-doka a{
    text-decoration: none;
    background: none;
    color: #EEF0FA;
    font-weight: bold;
    font-size: 18px;
    transition: 0.4s;
}

.main-user-command-block-doka a:hover {
    transition: 0.3s;
    color: #e8792f;
}



/* REDGHOST */
.main-user-command-block-redghost {
    display: flex; 
    flex-direction: column;
    width: 450px;
    height: 275px;
    background: url("../img/user-ava/redghost.png");
    border-radius: 20px;
    background-size: cover;
    padding: 30px;
    transition: 1s;
    margin-bottom: 10px;
}

.main-user-command-block-redghost:hover {
    transform: scale(1.03);
    transition: 0.4s;
    border: 2px solid #EEF0FA;
}

.main-user-command-block-redghost h1 {
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    background: none;
    margin: 0;
}

.main-user-command-block-redghost p {
    display: flex;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background: none;
}

.main-user-command-block-redghost a{
    text-decoration: none;
    background: none;
    color: #EEF0FA;
    font-weight: bold;
    font-size: 18px;
    transition: 0.4s;
}

.main-user-command-block-redghost a:hover {
    transition: 0.3s;
    color: #e8792f;
}


/* X1Ro */
.main-user-command-block-xiro {
    display: flex; 
    flex-direction: column;
    width: 450px;
    height: 275px;
    background: url("../img/user-ava/xiro.png");
    border-radius: 20px;
    background-size: cover;
    padding: 30px;
    transition: 0.5s;
}

.main-user-command-block-xiro:hover {
    transform: scale(1.03);
    transition: 0.4s;
    border: 2px solid #EEF0FA;
}

.main-user-command-block-xiro h1 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background: none;
    font-weight: 900;
    margin: 0;
}

.main-user-command-block-xiro p {
    display: flex;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background: none;
}

.main-user-command-block-xiro a{
    text-decoration: none;
    background: none;
    color: #EEF0FA;
    font-weight: bold;
    font-size: 18px;
    transition: 0.4s;
}

.main-user-command-block-xiro a:hover {
    transition: 0.3s;
    color: #e8792f;
}



/* JACK */
.main-user-command-block-jack{
    display: flex; 
    flex-direction: column;
    width: 450px;
    height: 560px;
    background: url("../img/user-ava/jack.png");
    border-radius: 20px;
    background-size: cover;
    padding: 30px;
    transition: 0.5s;
}

.main-user-command-block-jack:hover {
    transform: scale(1.03);
    transition: 0.4s;
    border: 2px solid #EEF0FA;
}

.main-user-command-block-jack h1 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background: none;
    margin: 0;
}

.main-user-command-block-jack p {
    display: flex;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background: none;
}

.main-user-command-block-jack a{
    text-decoration: none;
    background: none;
    color: #EEF0FA;
    font-weight: bold;
    font-size: 18px;
}

.main-user-command-block-jack a:hover {
    transition: 0.3s;
    color: #e8792f;
}



.main-project-block {
    max-width: 1400px;
    width: 100%;
    background: #191C1F;
    padding: 30px;
    border-radius: 10px;
}

.main-project-block img {
    border-radius: 10px;
    width: 1340px;
}

.main-project-block h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background: none;
}

.main-project-block p{
    background: none;
    color: #EEF0FA;
}

.main-project-block a{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EEF0FA;
    text-decoration: none;
    color: #191C1F;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.main-project-block a:hover {
    background: #c96929;
    transition: 0.4s;
    color: #ffffff;
}